trigger:
  - main

pool:
  name: Default

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Instalar Node.js'

  - script: |
      npm install
      npm run build
    displayName: 'Instalar dependencias y construir app'

  - task: AzureWebApp@1
    displayName: 'Desplegar en Azure Web App'
    inputs:
      azureSubscription: '4c7e4180-802d-49a7-afa5-193861c2b2d6'
      appType: 'webAppLinux'
      appName: 'applizeth2'
      package: '$(System.DefaultWorkingDirectory)/**/*.zip'
