<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARS</title>
    <link rel="stylesheet" href="/style.css">  <!-- Actualizando el link del CSS -->
</head>
<body>
    <header>
        <h1>Welcome to the Car Gallery</h1>
    </header>

    <div class="gallery">
        <img src="/img/CARS1.jpeg" alt="Car 1">
        <img src="/img/CARS2.png" alt="Car 2">
    </div>

    <footer>
        <p>&copy; 2023 Car Gallery. All rights reserved.</p>
    </footer>
</body>
</html>
